:root{
--primary-text-color: rgba(255, 255, 255, 0.6);
--title-text-color: #212121;
--accent-color: #ffffff;
--nav-color: #2196F3;
--main-color: #757575;
--primary-bg-color: #F5F5F5;
--icon-color: #AFB1B8;
}

body{
  background:var(--accent-color);
  font-family: "roboto", sans-serif;
  color: var(--main-color);
  letter-spacing: 0.03em;
  margin: 0;
}

ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}
h1,h2,h3,p{
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header{
  background-color: var(--accent-color);
  border-bottom: 1px solid #ECECEC;

}
.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.logo-link:hover, .logo-link:focus{
  color: var(--title-text-color);
}

.logo-header:hover, .logo-footer:hover{
  color: var(--nav-color);
}


.logo-link {
  color: var(--nav-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-header{
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav{
  display: flex;
  align-items: center;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 93px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus{
  color: var(--nav-color);
}

.link.current-studio {
  color: var(--nav-color);
}

.link.current-studio{
  position: relative;
}

.link.current-portfolio {
  position: relative;
}

.link.current-studio::after{
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 4px;
background-color: var(--nav-color);
border-radius: 2px;
opacity: 1;
}

/* .link.current-studio:hover::after{
  opacity: 1;
} */

.link.current-portfolio {
  color: var(--nav-color);
}

.link.current-portfolio::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--nav-color);
  border-radius: 2px;
  opacity: 1;
}

/* .link.current-portfolio:hover::after {
  opacity: 1;
} */

.contakts-item{
  display: flex;
  align-items: center;
}

.contakts{
  display: flex;
  align-items: center;
  margin-left: auto;
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-header{
  margin-right: 10px;
  fill: currentColor;
    overflow: hidden;
    vertical-align: -0.15em;
    font-size: inherit;
}
.contakts:hover ,
.contakts:focus {
  color: var(--nav-color);
}

.contakts-item:hover,
.contakts-item:focus {
  color: var(--nav-color);
  cursor: pointer;
}
.contakts .item+ .item{
  margin-left: 30px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero{
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)), url(../imeges/bgr-hero.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 600px;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

}
.hero-title{
  margin: 0 auto 40px;
  width: 696px;
  color: var(--accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height:1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding{
  padding-top: 0;
  background-color: var(--accent-color);
}
.visually-hidden{
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features{
  display: flex;
  gap: 30px;
  
}

.features-list{
  width: 270px;
}

/* .features-list::before{
  display: block;
  content: "";
  height: 120px;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--primary-bg-color);
  margin-bottom: 30px;
} */

/* .features-list:nth-child(1):before{
  background-image: url(../imeges/antenna.svg);
}

.features-list:nth-child(2):before {
  background-image: url(../imeges/clock.svg);
}

.features-list:nth-child(3):before {
  background-image: url(../imeges/diagram.svg);
}

.features-list:nth-child(4):before {
  background-image: url(../imeges/astronaut.svg);
} */



.features-list-svg {
  display: flex;
  height: 120px;
}
.link-svg{
  display: flex;
}

.list-svg{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 270px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--primary-bg-color);
}

.list-svg:nth-child(4){
  margin-right: 0;
}

.features-icon{
  height: 70px;
  width: 70px;
}

.features-title{
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700px;
  line-height: 1.14;
  text-transform: uppercase;

}

.features-work{
  margin: 0;
  line-height: 1.71;
}

.flex-workspace{
  display: flex;
  gap: 30px;
}
.workspace{
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  
}

.workspace-img{
  position: relative;
}

.title-workspace {
  display: flex;
  height: 70px;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  right: 0;
  justify-content: center;
  padding-top: 27px;
}

.headline {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.team{
  display: flex;
  gap: 30px;
  background-color: #F5F4FA;
}

.box{
  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.spesialty{
  padding-top:  28px; 
  padding-bottom: 28px;
}
.name{
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.profession{
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.title-social-link{
  display: flex;
  justify-content: center;
}
.icon{
  align-items: center;
}
.social-icon:nth-child(4n) {
  margin-right: 0;
}

.social-link{
  display: inline-block;
  fill: currentColor;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon{
  display: flex;
  fill: var(--icon-color);
  margin-right: 10px;
  padding: 12px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:nth-child(4n) {
  margin-right: 0;
}

.social-icon:hover,
.social-icon:focus {
  fill: var(--accent-color);
}
.social-link:focus,
.social-link:hover {
  background-color: var(--nav-color);
}


.clients{
  display: flex;
  gap: 30px;
  height: 372px;
}

.title-clients{
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.title-clients-icon {
  display: flex;
}

.link-icon-clients{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon-clients:nth-child(6n){
  margin-right: 0;
}

.link-icon-clients:hover,
.link-icon-clients:focus {
  border-color: var(--nav-color);
  color: var(--nav-color);
}

.clients-icon{
  width: 106px;
  height: 60px;
  fill: currentColor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 

.clients-icon:hover,
.clients-icon:focus {
  fill: var(--nav-color);
}

.button{
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  drop-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button.primary{
  color: var(--accent-color);
  background: var(--nav-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 32px;
  border: 0;
  text-align: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.button.primary:hover,
.button.primary:focus {
  background-color: #188CE8;
}

/* Модальне вікно */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  fill: currentColor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon{
  width: 18px;
  height: 18px;
  fill: var(--icon-color);
}

.modal-icon:hover,
.modal-icon:focus{
  background-color: var(--nav-color);
}

/*  ПОРТФОЛІО */

.button.secondary{
  color: var(--title-text-color);
  background: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
  border-color: transparent;
  border-image: none;
  border-style: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

.button.secondary:hover,
.button.secondary:focus {
  color: var(--accent-color);
  background-color: var(--nav-color);
  drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.filters {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-filters{
  display: inline;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.flex-emelent{
  position: relative;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  
}

.overlay-wrapper{
  position: relative;
  overflow: hidden;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-title{
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-emelent:hover .overlay-title{
  transform: translateY(0);
}


.flex-emelent:nth-child(3n){
  margin-right: 0;
}


.flex-emelent:nth-last-child(-n +3){
  margin-bottom: 0;
}

.flex-emelent:hover,
.flex-emelent:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 

img {
  display: block;
}

.name-title{
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.name-work{
  margin-top: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.work{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.88;
  text-align: left; 
}

.footer{
  margin-top: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--title-text-color);
  /* width: 1600px;
  padding-left: 215px; */
}

.footer-emblem{
  display: block;
  margin-bottom: 20px;
}

.logo-footer{
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-link-footer {
  color: var(--nav-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-link-footer:hover,
.logo-link-footer:focus {
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

address{
  font-style: normal;

}
.footer{
  display: flex;
}

.footer-address{
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address:hover,
.footer-address:focus{
  color: var(--nav-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contakts-footer{
  padding-top: 9px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  margin-left: auto;
  color: var(--accent-color);
  opacity: .6;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.contakts-footer:hover,
.contakts-footer:focus{
  color: var(--nav-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-adress{
  width: 270px;
  margin-right: 70px;
}

.action {
  display: block;
  align-items: center;
}

.title-footer{
  margin-top: 12px;
  margin-bottom: 20px;
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social-link-footer {
  display: flex;
}

.icon-footer {
  align-items: center;
  margin-right: 10px;
}
.icon-footer:nth-last-child(4){
  margin-left: 0;
}

.footer-social-link {
  display: inline-block;
  fill: currentColor;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
}

.social-icon-footer {
  display: flex;
  fill: var(--accent-color);
  padding: 12px;
}

.footer-social-link {
  display: inline-block;
  fill: currentColor;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.footer-social-link:focus,
.footer-social-link:hover {
  background-color: var(--nav-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}